:root {
  --lato: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 0.5%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  margin: 0 40%;
  margin-top: 100px;
}

#media a,
#about a,
#projects a,
.about a {
  font-family: inherit;
  color: rgb(206, 190, 174);
  border: none;
  background: none;
  outline: none;
  font-size: 17px;
  text-decoration: none;
}

#media a:hover,
#about a:hover,
#projects a:hover,
.about a:hover {
  font-family: inherit;
  color: rgb(97, 89, 81);
  text-decoration: none;
}

#media button:active,
#about button:active,
#projects button:active {
  font-family: inherit;
  color: rgb(97, 89, 81);
  text-decoration: none;
}

.current-page {
  font-family: inherit;
  color: rgb(97, 89, 81);
  text-decoration: none;
  font-size: 17px;
}
/*===============================*/

.header {
  margin-top: 50px;
  margin-bottom: 35px;
}

.header h1 {
  margin-top: 9%;
  font-size: 2.25rem;
  font-weight: 900; 
  text-align: center;
  color: rgb(206, 190, 174);
  cursor: default;
  letter-spacing: 5px;
}

.about {
    margin-bottom: 90px;
    color: rgb(104, 104, 104);
    text-align: center;
    font-weight: 100;
    font-size: 0.95rem;
    line-height: 140%;
}

.about p {
    white-space: pre-line;
}

.button button {
  color: rgb(172, 160, 147);
  margin-top: 3%;
  margin-left: 4%;
  font-weight: 500;
  font-size: 0.80rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  float: left;
}

.grid {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.p-grid {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.project-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.grid-img-p {
  width: 65%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.grid-img::before
.grid-img-p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.grid-img:hover::before
.grid-img-p:hover::before {
  opacity: 1;
}

.grid-img p,
.grid-img-p p {
  font-family: inherit;
  text-align: center;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  color: rgb(255, 255, 255);
  line-height: 140%;
  font-size: 90%;
}

.grid-img p,
.grid-img a,
.grid-img-p p,
.grid-img-p a {
transition: 0.5s;
transform: translateY(20px);
opacity: 0;
}

.grid-img:hover p,
.grid-img:hover a,
.grid-img-p:hover p,
.grid-img-p:hover a {
  transform: translateY(0px);
  opacity: 1;
}

.grid-img:hover,
.grid-img-p:hover{
  background-color:rgb(206, 190, 174);
}

/* IMAGES FOR PROJECTS PAGE */

#plant {
  background-image: url('images/plant.jpg');
}
#plant:hover{
  background:rgb(206, 190, 174);
}

#stationary {
  background-image: url('images/stationary.jpg')
}
#stationary:hover{
  background:rgb(206, 190, 174);
}

#money {
  background-image: url('images/money.jpg')
}
#money:hover{
  background:rgb(206, 190, 174);
}

#table {
  background-image: url('images/table.jpg')
}
#table:hover{
  background:rgb(206, 190, 174);
}

#cup {
  background-image: url('images/cup.jpg')
}
#cup:hover{
  background:rgb(206, 190, 174);
}

/* IMAGES FOR MEDIA PAGE */

#wealthsimple {
  background-image: url('images/wealthsimple.png');
}
#wealthsimple:hover{
  background:rgb(206, 190, 174);
}

#educents {
  background-image: url('images/educents.png');
}
#educents:hover{
  background:rgb(206, 190, 174);
}

#walmart {
  background-image: url('images/walmart.png');
}
#walmart:hover{
  background:rgb(206, 190, 174);
}

#uniform {
  background-image: url('images/uniform.png');
}
#uniform:hover{
  background:rgb(206, 190, 174);
}

#gans {
  background-image: url('images/gans.png');
}
#gans:hover{
  background:rgb(206, 190, 174);
}

#exobi {
  background-image: url('images/exobi.png');
}
#exobi:hover{
  background:rgb(206, 190, 174);
}

@media only screen and (min-width: 768px) {
  .project-container {
    width: calc((100% - 2%) / 2);
  }
}

.text {
  text-align: center;
  margin-bottom: 5%;
}

.text h2 {
  text-align: bottom;
  padding-top: 5%;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.00rem;
  color: rgb(104, 104, 104);
}

.media-content h1 {
  margin-left: 20%;
  margin-top: 7%;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(206, 190, 174);
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.media-content h3 {
  margin-left: 20%;
  margin-top: 3%;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(206, 190, 174);
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.writing a {
  margin-left: 20%;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.15rem;
  color: rgb(206, 190, 174);
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
}

.writing p {
  color: rgb(104, 104, 104);
  margin-left: 20%;
  margin-bottom: 30px;
  margin-top: 5px;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.00rem;
}

.writing h4 {
  float: right;
  margin-right: 300px;
  font-family: inherit;
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(104, 104, 104);
}

.about-writing a {
  color: rgb(175, 162, 149);
  font-family: inherit;
  font-weight: 300;
  font-size: 1.00rem;
  text-decoration: none;
  outline: none;
}

/* hovering color: rgb(97, 89, 81) & background-color: rgb(206, 190, 174) */
#backpropagation a:hover,
#gene-therapy a:hover,
#rnn a:hover,
#interview a:hover,
#startups a:hover,
#computer-vision a:hover,
#ethics a:hover, 
#serial a:hover,
#blockchain a:hover {
  color: rgb(97, 89, 81);
  font-family: inherit;
}

.intro h1 {
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 100px;
  font-size: 1.40rem;
  font-family: inherit;
  font-weight: 800; 
  color: rgb(206, 190, 174);
  cursor: default;
  letter-spacing: 1px;
  }

.intro p {
  margin-top: 1px;
  margin-right: 150px;
  margin-left: 25px;
  font-family: inherit;
  font-size: 1.00rem;
  font-weight: 300; 
  color: rgb(104, 104, 104);
  }

.headshot {
  margin-left: 17%;
  margin-top: 5px;
  margin-right: 50px;
  width:375px;
  height:400px;
  float:left;
}

.footer {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 40%;
}

.copyright p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 300; 
  text-align: center;
  color: rgb(104, 104, 104)
}

.logo {
  margin-top: 70px;
}

#linkedin {
  margin-top: 67px;
  height: 20px;
  width: 20px;
}
#linkedin:hover {
  height: 20px;
  width: 20px;
  cursor:pointer;
}

#medium {
  margin-top: 72px;
  height: 15px;
  width: 19px;
}
#medium:hover {
  margin-top: 72px;
  height: 15px;
  width: 19px;
  cursor:pointer;
}

#github {
  height: 19px;
  width: 19px;
}
#github:hover {
  height: 19px;
  width: 19px;
  cursor:pointer;
}

#mail {
  height: 17px;
  width: 25px;
}
#mail:hover {
  height: 17px;
  width: 25px;
  cursor:pointer;
}

.header,
.about,
.mobile-footer,
.footer {
  padding: 0 7.5px;
}
@media only screen and (min-width: 2560px) {
  .intro p {
    margin-right: 20%;
  }
}

/* mobile adjustments */
@media only screen and (max-width: 1200px) {
  .writing h4 {
    float: none;
    align-items: left;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 1390px) {
  .p-grid {
    margin: 0 50px;
  }
  .headshot {
    margin-left: 75px;
    width: 375px;
    height: 400px;
  }
  .about-writing h1 {
    font-size: 1.00rem;
    margin-right: 0px;
  }
  .about-writing p,
  .about-writing a {
    font-size: 0.9rem;
  }
  .intro p {
    margin-right: 75px;
  }
}

/* Fixing lining in projects card page*/
@media only screen and (max-width: 1021px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .text h2 {
    font-size: 0.9rem;
    text-align: center;
  }
  .grid {
    margin-left: 20px;
    margin-right: 20px;
  }
  .headshot {
    margin-top: 50px;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  .about-writing h1 {
    text-align: center;
    margin-top: 40px;
  }
  .about-writing p {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 700px) {
  .writing a {
    margin-left: 0px;
    font-size: 0.9rem;
    text-align: center;
    display: block;
  }
  .writing h4 {
    float: none;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
  .writing p {
    margin-left: 0px;
    font-size: 0.9rem;
    text-align: center;
  }
  .footer {
    margin: 0 30%;
  }
}

@media only screen and (max-width: 425px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .p-grid {
    margin: 0 10px;
  }
  .writing a {
    margin-left: 0px;
    font-size: 0.9rem;
    text-align: center;
    display: block;
  }
  .writing h4 {
    float: none;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
  .writing p {
    margin-left: 0px;
    font-size: 0.9rem;
    text-align: center;
  }
  .footer {
    margin: 0 30%;
  }
  .about-writing h1 {
    text-align: center;
    margin-top: 40px;
  }
  .about-writing p {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .about-writing p {
    margin-left: 40px;
    margin-right: 0px;
  }
}